@tailwind base;

@tailwind components;

@tailwind utilities;

.dark{
  
  color: #fff;
}
body{
  box-sizing: border-box;
  /* font-size: 12px; */
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /* background-color: black; */
  min-height: 100vh;
}
.start{
  font-family: 'Outfit', sans-serif;
}

.page{
  background-image:url("./assets/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 0.2; */
  /* background-color: rgba(255, 255, 255, 0.5);  */
}


.content {
  height: 50%;
  /* overflow-x: scroll; */

}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}



[data-popup='tooltip'].popup-overlay {
  background: transparent;
}


